* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
    text-align: center;
    font-size: 50px;
}

.title {
    position: fixed;
    list-style: none;
}

.prompt {
    margin-bottom: 50px;
}

.container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
}

#word-search {
    height: 40px;
    width: 300px;
    font-size: 20px;
}

button {
    height: 40px;
    width: 40px;
}

.definition{
    display: flex;
    align-items: center;
    height: 300px;
    width: 80%;
    overflow-y:visible;
    margin: 50px auto;
}

@media  only screen and (max-width: 450px) {
    body {
        font-size: 30px;
    }

    .prompt {
        margin-bottom: 15px;
    }

    .definition {
        margin: 15px auto;
        height: 250px;
    }
}